.carouselItem1,
.carouselItem2,
.carouselItem3 {
  background-size: cover;
  background-position: center;
}

.carouselItem1 {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(/images/pizza.jpg);
}

.carouselItem2 {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(/images/2.jpg);
}

.carouselItem3 {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(/images/spaghetti.jpg);
}

.carousel .carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel .carousel-control-next-icon,
.carousel .carousel-indicators {
  display: none;
}

@media only screen and (max-width: 768px) {
  .carouselItem1 {
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/images/1.jpg);
  }

  .carouselItem2 {
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/images/2.jpg);
  }

  .carouselItem3 {
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/images/3.jpg);
  }
}
