.modalContent {
  background-color: #2A2A3A; 
  color: white; 
  padding: 1.5rem;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px;
  border:none
}

.modalBody{
    border:none
}
.modalHeader,
.modalFooter {
  border: none !important;
}